@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@600&family=Poppins:wght@400;500;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-family: 'Oswald', sans-serif;
}

h2{
    font-weight: 300;
}

p{
    font-weight: 100;
}